/** rofi config file **/
 
configuration {
	modi: "drun,run";
	show-icons: true;
	sidebar-mode: true;
	display-run: "  ";
	display-drun: "  ";
	display-window: "  ";
	drun-display-format: "{icon}   {name}";
}

@theme "/home/rasel/.local/share/rofi/themes/windows11-grid-dark.rasi"
